<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subdomains Search</title>
</head>
<body>
    <h1>Enter Organization Name to Search for Details</h1>
    <form method="post">
        <input type="text" name="domain" placeholder="Enter Organization Name">
        <input type="submit" value="Search">
    </form>
    <h2>Subdomains</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Subdomain</th>
                <th>IP Address</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for subdomain in subdomains %}
            <tr>
                <td>{{ subdomain['Subdomain'] }}</td>
                <td>{{ subdomain['IP Address'] }}</td>
                <td><a target="_blank" href="{{ url_for('details', ip=subdomain['IP Address']) }}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/><br/>
    <h2>Employees</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>LinkedIn</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp['name'] }}</td>
                <td><a target="_blank" href="{{emp['url']}}">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>