{% extends "index.html" %}
{% block title %}New Page{% endblock %}
{% block head %}
  {{ super() }}
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}
{% block content %}
<script>document.querySelector('#nav-newpage').classList.add('active');</script>
  <div class="main">
   <div class="card">
      <h2 class="colorChanger">hello world</h2>
   </div>
  </div>
{% endblock %}